{% extends 'base.html' %}
     {% block title%}Responsive sidebar submenus{%endblock%}
{% block body%}
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <a href="#" class="header__logo" style="text-decoration: none;">ManageOps</a>

                <div class="header__search">
                    <input type="search" placeholder="Search" class="header__input">
                    <i class='bx bx-search header__icon'></i>
                </div>

                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo" style="text-decoration: none;">
                        <i class='bx bxs-folder-plus nav__icon' ></i>
                        <span class="nav__logo-name">ManageOps</span>
                    </a>

                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Profile</h3>

                            <a href="{{url_for('profile')}}" class="nav__link" style="text-decoration: none;">
                                <i class='bx bx-home nav__icon' ></i>
                                <span class="nav__name">Home</span>
                            </a>
                            <a href="#" class="nav__link active" style="text-decoration: none;">
                                <i class='bx bx-refresh nav__icon' ></i>
                                <span class="nav__name">Update info</span>
                            </a>
                        </div>
                    </div>
                </div>

                <a href="{{url_for('logout')}}" class="nav__link nav__logout" style="text-decoration: none;">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <main>
            <section>
<!--                <div class="row">-->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form action="{{url_for('update')}} " method="POST">
                                    <div class="form-group">
                                            <label>Username:</label>
                                            <input type="text" class="form-control" name="username" required="1" value="{{current_user.username}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Email:</label>
                                            <input type="email" class="form-control" name="email" required="1" value="{{current_user.email}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" name="name" required="1" value="{{current_user.name}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Age:</label>
                                            <input type="number" class="form-control" name="age" required="1" value="{{current_user.age}}">
                                        </div>
                                        <button class="btn btn-primary"type="submit">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
            </section>
        </main>

        <!--========== MAIN JS ==========-->
        <script>
            const showMenu = (headerToggle, navbarId) =>{
    const toggleBtn = document.getElementById(headerToggle),
    nav = document.getElementById(navbarId)

    // Validate that variables exist
    if(headerToggle && navbarId){
        toggleBtn.addEventListener('click', ()=>{
            // We add the show-menu class to the div tag with the nav__menu class
            nav.classList.toggle('show-menu')
            // change icon
            toggleBtn.classList.toggle('bx-x')
        })
    }
}
showMenu('header-toggle','navbar')

/*==================== LINK ACTIVE ====================*/
const linkColor = document.querySelectorAll('.nav__link')

function colorLink(){
    linkColor.forEach(l => l.classList.remove('active'))
    this.classList.add('active')
}

linkColor.forEach(l => l.addEventListener('click', colorLink))
        </script>
{%endblock%}